{{ block title }}
Part Two: Buyer decisions
{{ endblock }}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ static 'styles.css'}}">
</head>

<p>
    You will now act as a Buyer for each of the three urns, where you will respond to the decisions made by a different
    Seller participant in each.
</p>
<p>
    Each Seller chose
    {{ if player.single == 1 }}
    an offer (a specific number of widgets)
    {{ else }}
    a menu (a minimum and maximum number of widgets)
    {{ endif }}
    to give to you.
</p>
<p>
    Remember, in Part Two you <strong>do not</strong> have the option to walk away and purchase zero widgets.
</p>

<p>This page will automatically advance in <span class="otree-timer__time-left">0:15</span>.</p>

{{ if test == 1 }}
(Next button for testing purposes.)

<div style="text-align: right; margin-top: 20px;">
    <button class="otree-btn-next btn btn-primary">Next</button>
</div>
{{ endif }}

<!-- Include JavaScript file -->
<script src="{{ static 'veto_delegation/interface.js' }}"></script>

{% endblock %}