{{ block title }}
Your Role: Buyer
{{ endblock }}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ static 'styles.css'}}">
</head>

<p>
    For the next three rounds, you are the Buyer.

    You will respond to three offers from Sellers made in the previous three rounds.
    The Seller has proposed a {{ if player.single == 1}} number of {{ else }}menu of options for the number of {{endif}}  widgets that you can choose to buy.
    Remember in this Part, there is no option to walk away (buy zero Widgets).
</p>


<p>This page will automatically advance in <span class="otree-timer__time-left">0:15</span>.</p>

<!-- Include JavaScript file -->
<script src="{{ static 'veto_delegation/interface.js' }}"></script>



{% endblock %}