{{ block title }}
Part Two: Overview
{{ endblock }}

{{ block content }}

<head>
    <link rel="stylesheet" type="text/css" href="{{ static 'styles.css'}}">
</head>

<p>
    Part Two is identical to Part One, <b>except that the Buyer no longer has the option to walk away</b> (purchase zero
    widgets).
</p>

<h4>Your First Role: Seller</h4>
<p>
    You will first act as the <b>Seller</b>. You will make three choices, one for each urn type (Low, Middle, and High).
</p>
<ul>
    <li>
        {{ if single == 1 }}
        You will choose a Single offer (a specific number of widgets) to propose.
        {{ else }}
        You will choose a Menu offer (a minimum and maximum number of widgets) to propose.
        {{ endif }}
    </li>
    <li>
        The Buyer you are matched with <b>must</b> purchase
        {{ if single == 1 }}
        the number of widgets offered;
        {{ else }}
        an amount of widgets from the offered menu;
        {{ endif }}
        they cannot choose to walk away in Part Two (zero widgets).
    </li>
    <li>Each of your three Seller choices will be matched to a different Buyer participant in the room.</li>
</ul>

<h4>Your Second Role: Buyer</h4>
<p>
    After making your decisions as the Seller, you will then act as the <b>Buyer</b> for three different Seller
    participants, one for each urn
    type.
</p>
<ul>
    <li>
        Because you cannot walk away, you must
        {{ if single == 1 }}
        purchase the number of widgets provided offered by the Seller.
    <li>You will see your drawn ideal quantity (X) from the given urn before
        viewing your outcome.</li>
    {{ else }}
    purchase an amount of widgets on the Seller's offered menu.
    <li>You will see your drawn ideal quantity (X) from the given urn before
        making your choice.</li>
    {{ endif }}
    </li>
</ul>

<h4>Payment for Part Two</h4>
<p>
    The computer will randomly select one of the three urns and one participant in the room as the Seller for payment.
    The participant matched as the Buyer for that Seller/urn will also be selected for payment.
</p>
<ul>
    <li>
        <b>Seller Payment:</b> Depends only on the number of widgets
        {{ if single == 1 }}
        offered.
        {{ else }}
        chosen from the offered menu.
        {{ endif }}
    </li>
    <li><b>Buyer Payment:</b> Depends on the number of widgets purchased and the ideal quantity (X) drawn from the
        selected urn.</li>
</ul>

{{ if test == 1 }}
<div style="text-align: right; margin-top: 20px;">
    (Next button for testing purposes.)
    <button class="otree-btn-next btn btn-primary">Next</button>
</div>
{{ endif }}

{{ endblock }}