{{ block title }}
Part Two Round {{player.round_number}} - Your Role: Seller
{{ endblock }}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ static 'styles.css'}}">
</head>


<p>
    You are the Seller. You will propose what {{ if player.single == 1}} option{{ else }}menu of options{{endif}} for the number of Widgets that the Buyer can choose to buy.
    Remember, the Buyer <strong>will not</strong> have the option to walk away and purchase zero Widgets.
</p>
<p>The Buyer's ideal value (X) will come from the <b>{{ roundName }}</b> urn, which contains these possible ideal quantities:</p>

<div class="canvas-container">
  <canvas id="ballCanvas"></canvas>
</div>

{{ if chat == 1 }}<p> Click next to move to the chat page where you can communicate with the Seller.</p>
{{ else }}
<p>Click next when you are ready to make your choice.</p>
{{endif}}


<p>This page will automatically advance in <span class="otree-timer__time-left">0:20</span>.</p>




{{ next_button }}

    <!-- Include JavaScript file -->
    <script src="{{ static 'veto_delegation/interface.js' }}"></script>



{% endblock %}