{{ block title }}
Part Two - Seller choice from {{ roundName }} urn
{{ endblock }}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ static 'styles.css'}}">
</head>

<p>The matched Buyer participant's ideal value (X) will come from the <b>{{ roundName }}</b> urn, which contains these
    possible
    ideal quantities:</p>

<div class="canvas-container">
    <canvas id="ballCanvas"></canvas>
</div>

{{ if chat == 1 }}<p> Click next to move to the chat page where you can communicate with the Seller.</p>
{{ else }}
<p>Click next when you are ready to make your choice.</p>
{{endif}}


<p>This page will automatically advance in <span class="otree-timer__time-left">0:20</span>.</p>




{{ next_button }}

<!-- Include JavaScript file -->
<script src="{{ static 'veto_delegation/interface.js' }}"></script>



{% endblock %}