{{ block title }}
Part Three
{{ endblock }}



{{ block content }}

    <head>
        <link rel="stylesheet" type="text/css" href="{{ static 'styles.css'}}">
    </head>

<p>
    For Part Three, the option for the Buyer to walk away (purchase zero widgets) has been restored.
</p>
<p>
    In Part Three of the experiment, you will make decisions as the Seller, choosing
    {{ if single == 1 }}
    an amount of widgets
    {{ else }}
    a menu of widgets
    {{ endif }}
    to offer to the Buyer.
    Recall that in Part One, your payoff as the Seller depended on two things you couldn't control:
    the ideal quantity drawn from the urn, and the specific Buyer you were matched with.
    In contrast, in Part Three we will remove this randomness, paying you a certain amount for any particular choice you might make.
    This certain amount of money on offer is the <b>average expected payment</b> from your choice over the {{ if single == 1 }}
    offer.
    {{ else }}
    menu.
    {{ endif }}
</p>
<p>
    To generate this payment amount, instead of being matched to another participant in this room,
    you will be matched to a large number of Robot Buyers.
     Your payment will be the average Seller payoff across all of those matches.
    Each Robot Buyer has been trained using choices across made by
    {{ if single == 1 }}66{{ else }}64{{ endif }} real Buyer participants from earlier sessions of this experiment,
    who faced an identical Part One.
    Because of this training, for any
    {{ if single == 1 }}
    offer
    {{ else }}
    menu
    {{ endif }}
    you select,
    the Robot Buyers' decisions represent our best guess about how each of those
    {{ if single == 1 }}66{{ else }}64{{ endif }} prior participants
    would respond, across every ideal quantity that could be drawn from the urn.
</p>

<p>
    For any
    {{ if single == 1 }}
    offer
    {{ else }}
    menu
    {{ endif }}
    you select in the Part Three decisions,
    you can think of your payment as being calculated by averaging the Seller's payoff across millions of different Robot Buyers responding to your offer.
    Each separate Robot Buyer represents a fair draw over both an ideal quantity <b>from the given urn</b> and
    of the likely choices from one of the {{ if single == 1 }}66{{ else }}64{{ endif }} prior participants.
</p>

<p>
    Because the payment rule averages across millions of Robot Buyers,
    there is no longer any randomness in the payment for any specific {{ if single == 1 }}
    offer
    {{ else }}
    menu
    {{ endif }} you select as the Seller.
    Any choice you make will lead to a fixed additional payment,
    based on the 20 different balls that could be drawn from the urn to determine the Buyer’s ideal quantity
    and our best guess on the average outcome for the Seller payment across
    the {{ if single == 1 }}66{{ else }}64{{ endif }} prior participants responding to your offer.
</p>

<p>
    Given this rule, your role in Part Three is to choose whichever
    {{ if single == 1 }}
    offer
    {{ else }}
    menu
    {{ endif }}
    you think will generate the highest average payment for the Seller.
    You will make a separate decision over a
    {{ if single == 1 }}
    offer to make
    {{ else }}
    menu to offer
    {{ endif }}
    for each of the three separate urns (Low, Middle, and High),
    where the different urns affect the chances for each Robot Buyer's ideal quantity.
</p>
<p>You will make your choices as Seller for each urn now.</p>
{{ if test == 1 }}

(Next button for testing purposes.)

<div style="text-align: right;">

        <button class="otree-btn-next btn btn-primary">Next</button>

</div>

{{ endif }}

{{ endblock }}
