{{ block title }}
Part Three
{{ endblock }}

{{ block content }}

<head>
    <link rel="stylesheet" type="text/css" href="{{ static 'styles.css'}}">
</head>


<p>
<ul>
    <li>Part Three uses the same Buyer-Seller setting as Part One.</li>
    <li>You will make <b>three</b> separate decisions as the Seller, one for each
        urn type (Low, Middle, and High).</li>
</ul>
</p>


<h4>Robot Buyers</h4>
<p>
    In Part One, there was a degree of randomness in the outcome driven by:
<ul>
    <li>Different Buyer ideal quantities (X) drawn from the urn.</li>
    <li>Different participants in the room you were matched with.</li>
</ul>
</p>
<p>
    The Robot Buyers in Part Three have been trained using Buyer decisions from
    {{ if single == 1 }}66{{ else }}64{{ endif }} participants who completed Part One in prior sessions.
    Because of this training, you should think about each Robot Buyer as acting like the Buyer participants you matched
    with in Part One.
</p>
<p>
    For any {{ if single == 1 }} offer {{ else }} menu {{ endif }} you propose, averaging across the Robot Buyers'
    response is effectively averaging over:
</p>
<ul>
    <li>Different Buyer ideal quantities (X) drawn from the given urn.</li>
    <li>Different decisions made by the {{ if single == 1 }}66{{ else }}64{{ endif }} prior participants given an
        ideal quantity
        <ul>
            <li>{{ if single == 1 }}Either taking your offer, {{ else }}Either choosing a particular option from your
                menu, {{
                endif}}
                or walking away.</li>
        </ul>

</ul>

<h4>Your Task</h4>
<p>
    Using your experience from Part One to guide you, your task is to choose {{ if single == 1 }}the offer{{ else }}the
    menu{{ endif
    }} that you believe will generate the <b>highest average Seller payment</b>.
    Note that:
<ul>
    <li>The different urns affect how likely each ideal quantity is for each Robot Buyer, and therefore
        affect the average payment from any decision.</li>
    <li>While Robot Buyer's decisions will be affected by the ideal quantities and Buyer payoffs (because of their
        training), no other participants are affected by your Seller decisions.</li>
</ul>
</p>

<h4>Part Three Payment</h4>
<p>
    Three different participants in the room will be selected for payment in Part Three, one for each of the three types
    of urn.
</p>
<ul>
    <li>
        <b>Payment Amount:</b> If selected, your payment will be the <b>average Seller payment</b>, calculated
        by providing your
        {{ if single == 1 }} offer {{ else }} menu {{ endif }} to many Robot Buyers and averaging.
    </li>
    <li> Because of this, it is in your interest to {{ if single == 1 }}make the offer{{ else }} select the menu{{
        endif }}
        that you think will maximize the average Seller payment.
</ul>
<p>You will {{ if single == 1 }}make your offers to{{ else }}select your menus for{{endif }} the Robot Buyers for the three urns now. </p>
{{ if test == 1 }}
<div style="text-align: right; margin-top: 20px;">
    (Next button for testing purposes.)
    <button class="otree-btn-next btn btn-primary">Next</button>
</div>
{{ endif }}

{{ endblock }}
