{{ block title }}
Part One: Main Task
{{ endblock }}

{{ block content }}
    <head>
        <link rel="stylesheet" type="text/css" href="{{ static 'styles.css'}}">
    </head>

<!-- Text -->
    <p>Part one consists of 15 rounds, where one of the 15 rounds will be randomly selected for payment. In each round, you will either be a <b>Buyer</b> or a <b>Seller</b></p>
    <ul>
        <li>If you are the <b>Seller</b>, your job is to choose the

            <!--   This determines which text to show based on the treatment, change this if the method of selecting treatment changes    -->
            {{ if single == 0 }}
                minimum and maximum number of widgets
            {{else}}
                the number of widgets
            {{endif}}
            you are making available for purchase to the Buyer.
        </li>
        <li>If you are a <b>Buyer</b>, your job is
            {{ if single == 0 }}
                to choose whether you want to purchase a number of Widgets from the offered menu
            {{else}}
                to decide if you want to purchase the offered number of widgets
            {{endif}}
            or to walk away and purchase zero widgets.</li>
        <li>
            Buyers have an ideal number of widgets <b>X</b> that they want to purchase, drawn at random from an urn. Buyers will know the value of X before they make their decisions; however, Sellers will not know the Buyer’s ideal quantity X, only the urn it was drawn from.
        </li>

        {{ if chat == 0 }}
        {{ else }}
        <li>You will be able to chat with your counterpart in each round, after the Buyer has learned the ideal number of widgets and before the Seller decides what to offer.</li>
        {{ endif }}

    </ul>



    <!-- Include JavaScript file -->

{{ endblock }}
