.graph-container {
    text-align: center;
    padding: 20px;
}

.bars {
    display: flex;
	align: center;
    width: 80%;
    height: 400px;
    background-color: gray;
    overflow: hidden;
}

.bar {
    flex: 1;
	border-color: red;
	border-width: 1px;
    background-color: blue;
    transition: width 0.3s;
}
canvas {
	border: 1px solid #000;
}
input[type="range"] {
    width: 80%;
}

p {
    font-weight: normal;
}

.slidecontainer {
  width:800px; /* Width of the outside container */
  align : 'center';
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.matchingbutton {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #ff0000;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-appearance: button;
    -moz-user-select: none;
    user-select: none;
    background-color: #0d6efd;
    border-color: #0d6efd;
    /*border: 1px solid transparent;*/
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}