{{ block title }}
Payment
{{ endblock }}



{{ block content }}

    <head>
        <link rel="stylesheet" type="text/css" href="{{ static 'styles.css'}}">
    </head>

<p>You are participant number {{ player.participant.label }}. Please write this number down on the green slip.</p>
<p>Your total earnings today: ${{ TotalPay }}. Please write down your total earnings on your receipt. Here is a summary of your earnings</p>

<ul>
    <li>You earned $8 from the show-up fee.</li>
    <li>You earned ${{ PartOnePay }} from Part One. The computer randomly selected Round {{ Round }} for payment for the session.</li>
<li>
{% if Bonus > 0 %}
    You earned ${{ Bonus }} in bonus payments from the randomly selected round in Part
    {% if PartTwo %}
        Two.
    {% elif PartThree %}
        Three.
    {% elif PartFourGive %}
        Four, where you chose to allocate ${{ Bonus }} to yourself.
    {% elif PartFourReceive %}
        Four, where another participant in the room chose to allocate ${{ Bonus }} to you.
    {% endif %}
{% else %}
    You were not one of the participants randomly selected for bonus payments in Parts Two, Three or Four.
{% endif %}

</li>
</ul>

<p>Once you have recorded your earnings, please click next. This ensures the privacy of all participants and their earnings.</p>

<button class="o-tree-btn-next btn btn-primary" id="Next" style="visibility:hidden;">Next</button>

<script>
    window.onload = function () {
        setTimeout(function(){document.querySelector("#Next").style.visibility = "visible";}, 1000);
    }
</script>

{{ endblock }}
