{{ block title }}
Part Three
{{ endblock }}



{{ block content }}

    <head>
        <link rel="stylesheet" type="text/css" href="{{ static 'styles.css'}}">
    </head>

<p>
    Part three will be very similar to Part two, where we will pay you the average outcome across a very large number of robot buyers. However, the Part Three payments are based on <b>a different version of this experiment</b>.  
    
    In previous sessions of this study, rather than choosing
    {{ if single == 1 }}
    a menu of widgets to offer the Buyer, Sellers instead chose a fixed number of widgets to offer.
    Where in your session you chose a minimum and maximum quantity to offer, in the other version of this experiment the
    Sellers offered <b>a fixed number of widgets</b> to the Buyer.
    Buyers could choose between the offered amount of widgets or to walk away (zero widgets).
    The Seller's choice was therefore any single widget quantity to offer from 1 to 8.
    Notice that just as in your session, the Seller could never remove the option for the Buyer to walk away (zero widgets).
    {{ else }}
    a fixed number of widgets to offer the Buyer, Sellers instead chose a menu of widgets to offer.
    Where in your session you chose a single amount to offer, in the other version of this experiment the 
    Sellers offered <b>a minimum and maximum number of widgets</b> to the Buyer.
    Buyers could choose between any amount of widgets on the offered menu or to walk away (zero widgets).
    The Seller's choice was therefore both a minimum and a maximum amount of widgets to offer from 1 to 8.
    Notice that just as in your session, the Seller could never remove the option for the Buyer to walk away (zero widgets).
    {{ endif }}

</p>
<p>
    On the next page, you will be able to explore the interface that the Sellers and Buyers saw in the alternate version of this experiment.
</p>

{{ if test == 1 }}

(Next button for testing purposes.)

<div style="text-align: right;">

        <button class="otree-btn-next btn btn-primary">Next</button>

</div>

{{ endif }}

{{ endblock }}
