{{ block title }}
Part Four: Overview
{{ endblock }}

{{ block content }}

<head>
    <link rel="stylesheet" type="text/css" href="{{ static 'styles.css'}}">
</head>


<h4>Robot Buyers</h4>
<p>
    The Robot Buyers in Part Four have been trained using Buyer decisions from {{ if single == 1 }}66{{ else }}64{{
    endif }} participants who completed Part One in prior sessions of the <b>alternate version</b> of this experiment.
</p>
<p>
    For any {{ if single == 1 }} offer {{ else }} menu {{ endif }} you propose, averaging across the Robot Buyers'
    response is effectively averaging over:
</p>
<ul>
    <li>Different Buyer ideal quantities (X) drawn from the given urn.</li>
    <li>Different decisions made by the {{ if single == 1 }}66{{ else }}64{{ endif }} prior participants given an
        ideal quantity
        <ul>
            <li>{{ if single == 1 }}Either taking your offer, {{ else }}Either choosing a particular option from your menu, {{
                endif}}
                or walking away.</li>
        </ul>


</ul>

<h4>Your Task</h4>
<p>
    Using your intuition about how Buyers might respond in the alternate version of the experiment, your task is to
    choose the
    {{ if single == 1 }} offer {{ else
    }} menu {{ endif }} that you believe will generate the <b>highest average Seller payment</b>
    in the alternate version of the experiment.
    Remember that:
<ul>
    <li>The different urns affect how likely each ideal quantity is for each Robot Buyer, and therefore
        affect the average payment from any decision.</li>
    <li>While Robot Buyer's decisions will be affected by the ideal quantities and Buyer payoffs (because of their
        training), no other participants are affected by your Seller decisions.</li>
</ul>
</p>

<h4>Part Four Payment</h4>
<p>
    Three different participants in the room will be selected for payment in Part Four, one for each of the three types
    of urn.
</p>
<ul>
    <li>
        <b>Payment Amount:</b> If selected, your payment will be the <b>average Seller payment</b>, calculated
        by providing your
        {{ if single == 1 }} offer {{ else }} menu {{ endif }} to many Robot Buyers and averaging.
    </li>
    <li> Because of this, it is in your interests to {{ if single == 1 }}make the offer{{ else }}select the menu{{
        endif }}
        that your think will maximize the average Seller payment.</li>
</ul>
<p>You will make your offers to the Robot Buyers for the three urns now. </p>

{{ if test == 1 }}
<div style="text-align: right; margin-top: 20px;">
    (Next button for testing purposes.)
    <button class="otree-btn-next btn btn-primary">Next</button>
</div>
{{ endif }}

{{ endblock }}