{{ block title }}
Part Four
{{ endblock }}



{{ block content }}

<head>
    <link rel="stylesheet" type="text/css" href="{{ static 'styles.css'}}">
</head>

<p>
<p>
    Just as in Part Three, in Part Four you will again receive the average expected payment for your choice by being
    matched to Robot Buyers.
    However, in Part Four you will make a Seller decisions for the different version of this experiment.
    Your task as the Seller is to choose
    {{ if single == 1 }}
    a single offer (a fixed amount of Widgets)
    {{ else }}
    a menu of Widgets (a minimum and maximum amount of Widgets)
    {{ endif }}
    to offer to the Robot Buyers.
    The Robot Buyers in Part Four have been trained to reflect our best guess for how
    {{ if single == 1 }}64{{ else }}66{{ endif }} different Buyer participants made decisions in the alternative
    sessions.
    Because of this training, for any particular urn the payment for the
    {{ if single == 1 }}
    single offer
    {{ else }}
    menu
    {{ endif }}
    you select is fixed.
    The average across the Robot Buyers' decisions reflects:
<ul>
    <li>How each of the {{ if single == 1 }}66{{ else }}64{{
        endif }} prior participants may have responded to your
        {{ if single == 1 }}
        offer, by walking away or accepting the offered quantity.
        {{ else }}
        menu, by walking away or accepting some amount betwen the miniumum and maximum quanity offered.
        {{ endif }}
    <li>The different decisions taken for different ideal quantities X for the Buyer drawn from the urn;</li>
</ul>

<p>
    Each separate Robot Buyer represents a fair draw over an ideal quantity <b>from the given urn</b> and
    the likely choices from one of the {{ if single == 1 }}66{{ else }}64{{ endif }} prior participants. Therefore, by
    taking averages across a large number of Robot Buyers we can remove any randomness in the Seller's payment for any
    {{ if single == 1 }}
    single offer
    {{ else }}
    menu
    {{ endif }}.
</p>

<p>
    Using your experience from Part One on how Buyers respond, your role in Part Four is to choose
    {{ if single == 1 }}
    an offer
    {{ else }}
    a menu
    {{ endif }}
    that you think generates the highest average expected payment for the Seller in the alternate version of the
    experiment.
    You will make three separate decisions, one for each of the three urns (Low, Middle, and High).
    The different urns affect the chances for each Robot Buyer's ideal quantity X, and therefore the average
    expected payment from any {{ if single == 1 }}
    offer
    {{ else }}
    menu
    {{ endif }} you select.
</p>


{{ if test == 1 }}

(Next button for testing purposes.)

<div style="text-align: right;">

    <button class="otree-btn-next btn btn-primary">Next</button>

</div>

{{ endif }}


{{ endblock }}