{{ block title }}
Part Three
{{ endblock }}



{{ block content }}

    <head>
        <link rel="stylesheet" type="text/css" href="{{ static 'styles.css'}}">
    </head>

<p>
<p>
    Just as in Part Two, for Part Three you will again be matched to a large number of Robot Buyers,
    and paid the average Seller payment across those matches.
    However, in Part Three you will enter a Seller choice for the different version of this experiment.
    Your task as the Seller is to choose
    {{ if single == 1 }}
    a single number of Widgets
    {{ else }}
    an menu of Widgets
    {{ endif }}
    to offer the Robot Buyers.
    Similar to Part Two, each Robot Buyer has been trained to reflect our best guess for the behavior of
    [60] different Buyer participants from sessions with the different version of this experiment in Part One.
    Because of this training, for any
    {{ if single == 1 }}
    offer
    {{ else }}
    menu
    {{ endif }}
    you select and any ideal quantity drawn from the urn,
    the distribution of decisions across the different Robot Buyers reflects our best guess
    of the distribution of decisions across the [60] prior participants in that situation.
</p>

<p>
    As in Part Two, for any
    {{ if single == 1 }}
    offer
    {{ else }}
    menu
    {{ endif }}
    you select in the Part Two decisions,
    you can think of your payment as the average outcome across millions of different Robot Buyers.
    Each Robot Buyer represents a fair draw of an ideal quantity from the given urn and
    a fair draw from the behavior of one of the [56] participants in the prior sessions.
</p>

<p>
    Because the payment rule averages across such a large number of Robot Buyers,
    there is no longer any randomness in payment for any Seller choice.
    Any possible
    {{ if single == 1 }}
    offer
    {{ else }}
    menu
    {{ endif }}
    you might choose leads to a fixed payment,
    where that payment reflects our best guess on the average outcome for the Seller payment across
    the [56] prior participants and the 20 different balls that could be drawn from the urn to determine the Buyer’s ideal quantity.
</p>

<p>
    Given this rule, your role in Part Three is to choose the
    {{ if single == 1 }}
    offer
    {{ else }}
    menu
    {{ endif }}
    that you think leads to the highest expected Seller payment.
    You will make a separate decision over a
    {{ if single == 1 }}
    offer to make
    {{ else }}
    menu to offer
    {{ endif }}
    for each of the three urns: Low, Middle, and High.
</p>


{{ if test == 1 }}

(Next button for testing purposes.)

<div style="text-align: right;">

        <button class="otree-btn-next btn btn-primary">Next</button>

</div>

{{ endif }}


{{ endblock }}
