{{ block title }}
Your Role
{{ endblock }}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ static 'styles.css'}}">
</head>

{{ if player.id_in_group == 1}}

<p>
    You are the Seller. You will choose what options for the number of Widgets (M) that the Buyer can choose from.
    Remember, you cannot remove 0 Widgets as an option. The Buyer can always walk away.
</p>
<p>The Buyer's ideal value (X) will come from <b>{{ roundName }}</b> of three dice rolls.</p>



{{ else }}

<p>
    You are the Buyer. First, the Seller will choose what options for the number of widgets (M) that uou can choose from.
    Remember, the Seller cannot remove 0 Widgets as an option. You can always walk away.
</p>
<p>You have <b>ideal value X={{selectedX}}</b> which came from the <b>{{ roundName }}</b> of three dice rolls.</p>


{{endif}}

<div style="display: flex; justify-content: center; align-items: center;">
<div style="width: 300px; display: inline-block;">
    <table class="tg">
        <colgroup>
            <col style="width: 251.2px">
        </colgroup>
        <thead>
            <tr>
                <th class="tg-7fle"><span style="font-weight:bold">Ideal Value, X</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tg-baqh">
                    <span class="die-number {% if roundType == 1 %}die-number-red{% endif %}" id="die1">{{ if player.id_in_group == 1}}{{else}}{{ drawLow }}{{endif}}</span> ≤
                    <span class="die-number {% if roundType == 2 %}die-number-red{% endif %}" id="die2">{{ if player.id_in_group == 1}}{{else}}{{ drawMed }}{{endif}}</span> ≤
                    <span class="die-number {% if roundType == 3 %}die-number-red{% endif %}" id="die3">{{ if player.id_in_group == 1}}{{else}}{{ drawHigh }}{{endif}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>

<br><br>

You may chat with the {{ if player.id_in_group == 1}}Buyer{{ else }}Seller{{endif}} below:
<div style="height: 100px; display: flex; justify-content: center; align-items: center; margin: 100px;">
    <div style="justify-content: center; width: 600px; margin-left: 180px;">{{ chat nickname=player.role }}</div>
</div>

<span class="otree-chat__nickname">Hello from (Me)</span>



<p>Click next when you are ready to make your choice.</p>
{{ next_button }}

    <!-- Include JavaScript file -->
    <script src="{{ static 'veto_delegation/interface.js' }}"></script>



{% endblock %}