{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ static 'styles.css'}}">
</head>

<p>
Player A offered you the following range:
</p>
<p><b>
Minimum amount: {{ group.minSlider }}
<br>
Maximum amount: {{ group.maxSlider }}
</b></p>


    <p>You have <b>ideal value X={{selectedX}}</b> which came from the <b>{{ roundName }}</b> of three dice rolls.</p>

    <div style="width: 300px; margin: 0 auto;">
        <table class="tg">
            <colgroup>
                <col style="width: 251.2px">
            </colgroup>
            <thead>
                <tr>
                    <th class="tg-7fle"><span style="font-weight:bold">Ideal Value, X</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tg-baqh">
                        <span class="die-number {% if roundType == 1 %}die-number-red{% endif %}" id="die1">{{ drawLow }}</span> ≤
                        <span class="die-number {% if roundType == 2 %}die-number-red{% endif %}" id="die2">{{ drawMed }}</span> ≤
                        <span class="die-number {% if roundType == 3 %}die-number-red{% endif %}" id="die3">{{ drawHigh }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br><br>

    <div class="sub-container3">
        <div class="choices-container">
            <div class="choice" data-value="0">M=0</div>
            <div class="choice" data-value="1">M=1</div>
            <div class="choice" data-value="2">M=2</div>
            <div class="choice" data-value="3">M=3</div>
            <div class="choice" data-value="4">M=4</div>
            <div class="choice" data-value="5">M=5</div>
            <div class="choice" data-value="6">M=6</div>
            <div class="choice" data-value="7">M=7</div>
            <div class="choice" data-value="8">M=8</div>
        </div>

        <!-- Payoffs Table -->
        <table class="tg" id="payoffTable">
            <colgroup>
                <col style="width: 190.2px">
                <col style="width: 190.2px">
                <col style="width: 190.2px">
                <col style="width: 190.2px">
                <col style="width: 190.2px">
                <col style="width: 190.2px">
                <col style="width: 190.2px">
                <col style="width: 190.2px">
                <col style="width: 190.2px">
                <col style="width: 190.2px">
            </colgroup>
            <thead>
                <tr>
                    <th class="tg-c3ow" rowspan="2">Widgets <br>Purchased, M</th>
                    <th class="tg-c3ow" rowspan="2">Your Payoff <br> (X=<span id="selectedX">-</span>)</th>
                    <th class="tg-c3ow" rowspan="2">Seller <br> Payoff</th>
                    <th class="tg-c3ow" colspan="6">Buyer Payoff (by ideal quantity X)</th>
                </tr>
                <tr>
                    <th class="tg-0lax">X=1</th>
                    <th class="tg-0lax">X=2</th>
                    <th class="tg-0lax">X=3</th>
                    <th class="tg-0lax">X=4</th>
                    <th class="tg-0lax">X=5</th>
                    <th class="tg-0lax">X=6</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <!-- Table body will be populated dynamically -->
            </tbody>
        </table>
    </div>

{{ formfield_errors 'veto' }}
<br><br>
<button type="button" class="btn btn-primary" onclick="checkSubmit()">Next</button>

    <!-- Include JavaScript file -->
    <script src="{{ static 'veto_delegation/interface.js' }}"></script>



{% endblock %}