{{ block title }}
Round {{player.round_number}} - Your Role: {{player.role}}
{{ endblock }}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ static 'styles.css'}}">
</head>

{{ if player.id_in_group == 1}}

<p>
    You are the Seller. You will propose what {{ if player.single == 1}} option{{ else }}menu of options{{endif}} for the number of Widgets that the Buyer can choose to buy.
    Remember, you cannot remove 0 Widgets as an option. The Buyer can always walk away and purchase zero Widgets.
</p>
<p>The Buyer's ideal value (X) will come from the <b>{{ roundName }}</b> urn, which contains these possible ideal quantities:</p>

<div class="canvas-container">
  <canvas id="ballCanvas"></canvas>
</div>

{{ if chat == 1 }}<p> Click next to move to the chat page where you can communicate with the Seller.</p>
{{ else }}
<p>Click next when you are ready to make your choice.</p>
{{endif}}

{{ else }}

<p>
    You are the Buyer. First, the Seller will propose a {{ if player.single == 1}} number of {{ else }}menu of options for the number of {{endif}}  widgets that you can choose to buy.
    Remember, the Seller cannot remove 0 Widgets as an option. You can always walk away.
</p>
<p>You have <b>ideal value X={{selectedX}}</b> which came from the <b>{{ roundName }}</b> urn.</p>

<div class="canvas-container">
  <canvas id="ballCanvas2"></canvas>
</div>

<p>{{ if chat == 1 }} Click next to move to the chat page where you can communicate with the Seller.
    {{ else }} Click next to move to the waiting page if the Seller has not yet made their choice. {{endif}} </p>

{{endif}}

<p>This page will automatically advance in <span class="otree-timer__time-left">0:20</span>.</p>




{{ next_button }}

    <!-- Include JavaScript file -->
    <script src="{{ static 'veto_delegation/interface.js' }}"></script>



{% endblock %}