{{ block title }}
Your Role
{{ endblock }}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ static 'styles.css'}}">
</head>

{{ if player.id_in_group == 1}}

<p>
    You are the Seller. You will choose what options for the number of Widgets (M) that the Buyer can choose from.
    Remember, you cannot remove 0 Widgets as an option. The Buyer can always walk away.
</p>
<p>The Buyer's ideal value (X) will come from a type <b>{{ roundName }}</b> urn, which contains these possible draws:</p>

<div class="canvas-container">
  <canvas id="ballCanvas"></canvas>
</div>

<p>Click next when you are ready to make your choice.</p>

{{ else }}

<p>
    You are the Buyer. First, the Seller will choose what options for the number of widgets (M) that uou can choose from.
    Remember, the Seller cannot remove 0 Widgets as an option. You can always walk away.
</p>
<p>You have <b>ideal value X={{selectedX}}</b> which came from the type <b>{{ roundName }}</b> urn.</p>

<div class="canvas-container">
  <canvas id="ballCanvas2"></canvas>
</div>

<p>Click next when you are ready. You will move to the waiting page if the Seller has not yet made their choice. <b>You must click "Next" to learn what the Seller will offer.</b></p>

{{endif}}





{{ next_button }}

    <!-- Include JavaScript file -->
    <script src="{{ static 'veto_delegation/interface.js' }}"></script>



{% endblock %}