{{ block title }}
    Seller's Choice
{{ endblock }}

{{ block content }}
    <head>
        <link rel="stylesheet" type="text/css" href="{{ static 'styles.css'}}">
    </head>

    <!-- Text -->
    <p> The Seller's choice then is to select

        <!--   This determines which text to show based on the treatment, change this if the method of selecting treatment changes    -->
        {{ if C.single == 0 }}
            minimum and maximum quantity
        {{else}}
            an offered quantity
        {{endif}}
        to offer to the Buyer. The Seller will see if the selected ideal quantity for the Buyer was the smallest, median of largest quantity of the three rolls:
    <br>
    <table class="tg" style="undefined;table-layout: fixed; width: 754px">
        <colgroup>
            <col style="width: 300.2px">
            <col style="width: 300.2px">
            <col style="width: 300.2px">
        </colgroup>
        <thead>
            <tr>
                <th class="tg-7fle">Smallest</th>
                <th class="tg-7fle">Middle<br></th>
                <th class="tg-7fle">Largest</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tg-c3ow"><span class="die-number-red"></span> ≤ <span class="die-number-white"></span> ≤ <span class="die-number-white"></span><br></td>
                <td class="tg-c3ow"><span class="die-number-white"></span> ≤ <span class="die-number-red"></span> ≤ <span class="die-number-white"></span></td>
                <td class="tg-c3ow"><span class="die-number-white"></span> ≤ <span class="die-number-white"></span> ≤ <span class="die-number-red"></span></td>
            </tr>
        </tbody>
    </table>
    <br>

    Given this information, the Seller will be assisted with a graph showing the likelihood of each ideal quantity, given the information on the die roll being the Smallest/Middle/Largest.
    <br>
    <br>
    <table class="tg" style="undefined;table-layout: fixed; width: 754px">
        <colgroup>
            <col style="width: 300.2px">
            <col style="width: 300.2px">
            <col style="width: 300.2px">
        </colgroup>
        <thead>
            <tr>
                <th class="tg-7fle">Smallest</th>
                <th class="tg-7fle">Middle<br></th>
                <th class="tg-7fle">Largest</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tg-c3ow">
                    <canvas id="probCanvas1" width="280" height="250"></canvas>
                </td>
                <td class="tg-c3ow">
                    <canvas id="probCanvas2" width="280" height="250"></canvas>
                </td>
                <td class="tg-c3ow">
                    <canvas id="probCanvas3" width="280" height="250"></canvas>
                </td>
            </tr>
        </tbody>
    </table>
    <br><br>
    The Seller will then select their

    <!--   This determines which text to show based on the treatment, change this if the method of selecting treatment changes    -->
    {{ if C.single == 0 }}
        minimum and maximum quantity
    {{else}}
        offered quantity
    {{endif}}

    using a slider.

    <!-- Include JavaScript file -->
    <script src="{{ static 'veto_delegation/small-graphs.js' }}"></script>
{{ endblock }}
